<li>
  <%= gravatar_for user, Settings.default_gravatar_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !user.current_user?(current_user) %>
    <%= link_to t("delete"), user, method: :delete,
      data: {confirm: t("you_sure")} %>
  <% end %>
</li>
