@import "bootstrap-sprockets";
@import "bootstrap";

$color1: #777;
$color2: #eaeaea;
$color3: #bbb;
$red: #ff0;

@mixin box-sizing {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

//typography

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $color1;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

//footer

footer {
  border-top: 1px solid $color2;
  color: $color1;
  margin-top: 45px;
  padding-top: 5px;
}

footer a {
  color: $color1;
}

footer a:hover {
  color: $color1;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

//sidebar

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    .user-info {
      margin-top: 20px;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

//forms

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $color3;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field-with-errors {
  .form-control {
    color: $state-danger-text;
  }
}
