<div class="center jumbotron">
  <h1><%= t ".title_page" %></h1>
  <p>
    <%= t ".this" %>
    <%= link_to t("static_pages.ruby"), "http://www.railstutorial.org/",
      class: "btn btn-lg btn-primary" %>
    <%= t ".sample" %>
  </p>
</div>
